<html>
    <head>

    </head>

    <body>        

        <table border = 1>
            <thead>
                <tr>
                    {% for att in attributes %}
                        <th>{{att}}</th>
                    {% endfor %}
                </tr>                
            </thead>
            <tbody>
                
                {%for x in models%}
                
                <tr>          
                    
                    <td>{{x.name}}</td>
                    <td>{{x.trigger_time}}</td>
                    <td>{{x.RA}}</td>
                    <td>{{x.DEC}}</td>                    
                    <td>{{x.T90}}</td>    
                    <td>{{x.normalised_duration}}</td>
                    <td>{{x.sat_source}}</td>
                    <td>{{x.start_time_obs}}</td>
                    <td>{{x.end_time_obs}}</td>
                    <td>{{x.reliability}}</td>
                    <td>{{x.geo_long}}</td>
                    <td>{{x.geo_lat}}</td>
                    <td>{{x.type}}</td>
                    <td>{{x.sigma}}</td>
                    <td>{{x.max_count}}</td>                    
                    <td>{{x.BAT_RA}}</td>
                    <td>{{x.BAT_DEC}}</td>
                    <td>{{x.BAT_T90}}</td>
                    <td>{{x.BAT_fluence}}</td>                    
                    <td>{{x.xrt_spectral_index}}</td>
                    
                </tr>
                {%endfor%}
            </tbody>
        </table>

    </body>
</html>