<html>
    <head>

    </head>

    <body>        

        <table border = 1>
            <thead>
                <tr>
                    {% for att in attributes %}
                        <th>{{att}}</th>
                    {% endfor %}
                </tr>                
            </thead>
            <tbody>
                
                {%for x in models%}
                
                <tr>          
                    
                    <td>{{x.name}}</td>
                    <td>{{x.trigger_time}}</td>
                    <td>{{x.BAT_ra}}</td>
                    <td>{{x.BAT_dec}}</td>
                    <td>{{x.BAT_90_err}}</td>
                    <td>{{x.BAT_fluence}}</td>
                    <td>{{x.T90}}</td>    
                    <td>{{x.source}}</td>
                    <td>{{x.RA}}</td>
                    <td>{{x.DEC}}</td>                    
                    <td>{{x.geo_long}}</td>
                    <td>{{x.geo_lat}}</td>
                    <td>{{x.start_time_obs}}</td>
                    <td>{{x.end_time_obs}}</td>
                    <td>{{x.reliability}}</td>
                    <td>{{x.duration}}</td>
                    <td>{{x.type}}</td>
                    <td>{{x.sigma}}</td>
                    <td>{{x.max_count}}</td>
                    <td>{{x.BAT_fluence_90_err}}</td>
                    <td>{{x.BAT_1sec_peak_photon_flux}}</td>
                    <td>{{x.BAT_1sec_peak_photon_flux_90_err}}</td>
                    <td>{{x.BAT_photon_index}}</td>
                    <td>{{x.BAT_photon_index_90_err}}</td>
                    <td>{{x.xrtRA}}</td>
                    <td>{{x.xrtDEC}}</td>
                    <td>{{x.xrt_90_err}}</td>
                    <td>{{x.xrt_time_to_first_obs}}</td>
                    <td>{{x.xrt_early_flux}}</td>
                    <td>{{x.xrt_11h_flux_error}}</td>
                    <td>{{x.xrt_24h_flux_error}}</td>
                    <td>{{x.xrt_initial_temp_index}}</td>
                    <td>{{x.xrt_spectral_index}}</td>
                    <td>{{x.xrt_column_density}}</td>
                    <td>{{x.uvotRA}}</td>
                    <td>{{x.uvotDEC}}</td>
                    <td>{{x.uvot_90_err}}</td>
                    <td>{{x.uvot_time_to_first_obs}}</td>
                    <td>{{x.uvot_magnitude}}</td>
                    <td>{{x.uvot_magnitude_filter}}</td>
                    <td>{{x.other_obs_detects}}</td>
                    <td>{{x.redshift}}</td>
                    <td>{{x.host_galaxy}}</td>
                    <td>{{x.references}}</td> 
                    
                </tr>
                {%endfor%}
            </tbody>
        </table>

    </body>
</html>