<html>
    <head>

    </head>

    <body>        

        <table border = 1>
            <thead>
                <tr>
                    <th>ID</th>
                    {% for att in attributes %}
                        <th>{{att}}</th>
                    {% endfor %}
                </tr>                
            </thead>
            <tbody>
                
                {%for x in models%}
                
                <tr>          
                    <td>{{x.id}}</td>
                    <td>{{x.GEO_long}}</td> 
                    <td>{{x.GEO_lat}}</td> 
                    <td>{{x.orbit}}</td> 
                    <td>{{x.trigger_time}}</td> 
                    <td>{{x.T50}}</td> 
                    <td>{{x.T50_err}}</td> 
                    <td>{{x.T50_err_applied}}</td>
                    <td>{{x.sat_altitude}}</td>
                    <td>{{x.ML_counts}}</td>
                    <td>{{x.ML_counts_err}}</td>
                    <td>{{x.ML_counts_err_applied}}</td>
                    <td>{{x.TGF_name}}</td>
                    <td>{{x.event_type}}</td>
                    <td>{{x.normalised_duration}}</td>
                    <td>{{x.sat_source}}</td>
                    <td>{{x.RA}}</td>
                    <td>{{x.DEC}}</td>
                    <td>{{x.start_time_obs}}</td>
                    <td>{{x.end_time_obs}}</td>
                    <td>{{x.reliability}}</td> 
                    
                </tr>
                {%endfor%}
            </tbody>
        </table>

    </body>
</html>