<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <title>SpaDe</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- <link rel="manifest" href="{% static 'manifest.json' %}" /> -->
        <script src="{% static 'dark_mode_toggler.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <link href="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.0.8/b-3.0.2/b-colvis-3.0.2/b-html5-3.0.2/b-print-3.0.2/cr-2.0.3/date-1.5.2/kt-2.12.1/r-3.0.2/rg-1.5.0/sc-2.4.3/sb-1.7.1/sp-2.3.1/datatables.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.0.8/b-3.0.2/b-colvis-3.0.2/b-html5-3.0.2/b-print-3.0.2/cr-2.0.3/date-1.5.2/kt-2.12.1/r-3.0.2/rg-1.5.0/sc-2.4.3/sb-1.7.1/sp-2.3.1/datatables.min.js"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="stylesheet" href="{% static 'index.css' %}">
        <script src="{% static 'index.js' %}"></script>

        <script>
            const downloadPDFURL = "{% static 'Spade Definitions Catalogue.pdf' %}";
        </script>

        <noscript>
            <style>
                h1 {
                    text-align: center;
                }
                p {
                    text-align: center;
                }
                .container {
                    display: none;
                }
                .dropdown {
                    display: none;
                }
                .modal {
                    display: none;
                }
                .navbar {
                    display: none;
                }
            </style>
            <h1>JavaScript is disabled</h1>
            <p>JavaScript is required for this page to work properly. Please enable it and refresh the page.</p>
        </noscript>
    </head>
    <body>
        <div class="fixed-top" id="supBar">
            <nav class="navbar navbar-expand-md">
                <div class="container-fluid d-flex">
                    <!-- Left spacer with flex-basis equal to the right container for balance -->
                    <div style="flex: 1; display: flex; justify-content: flex-start;">
                        <div class="dropdown theme-dropdown">
                            <button class="btn dropdown-toggle" type="button" id="themeDropdown" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                <i id="currentThemeIcon" class="bi"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="themeDropdown">
                                <li><a class="dropdown-item" href="#" id="auto_theme"><i
                                        class="bi bi-circle-half"></i> Automatic</a></li>
                                <li><a class="dropdown-item" href="#" id="light_theme"><i
                                        class="bi bi-sun-fill"></i> Light</a></li>
                                <li><a class="dropdown-item" href="#" id="dark_theme"><i
                                        class="bi bi-moon-stars-fill"></i> Dark</a></li>
                            </ul>
                        </div>
                        <button class="btn" id="openGraphs" data-bs-toggle="tooltip" data-bs-title="View graphs">
                            <i class="bi bi-bar-chart-line-fill"></i>
                        </button>
                    </div>
                    
                    <!-- Logo centered with flex-grow to ensure it takes available space -->
                    <a class="navbar-brand d-flex justify-content-center" href="#" id="logo" style="flex-grow: 1;">
                        <h2>
                            <img src="{% static 'Logo_Full.svg' %}" alt="SpaDe logo" class="spade-logo"/>
                        </h2>
                    </a>
                    
                    <!-- Right container for buttons with flex-basis for specific width -->
                    <div style="flex: 1; display: flex; justify-content: flex-end;">
                        <button class="btn" type="button" id="openFilters" data-bs-toggle="offcanvas" data-bs-target="#filterOffcanvas" aria-controls="filterOffcanvas" data-bs-title="Select filters">
                            <i class="bi bi-filter-square-fill"></i>
                        </button>
                        <button class="btn" id="openCatalogue" data-bs-toggle="tooltip" data-bs-title="View meaning of columns">
                            <i class="bi bi-info-square-fill"></i>
                        </button>
                        <button class="btn" id="openContacts" data-bs-toggle="tooltip" data-bs-title="Meet our team!">
                            <i class="bi bi-people-fill"></i>
                        </button>
                    </div>
                </div>
            </nav>
            <div id="alert-container" class="fixed-top" tabindex="-1" style="display: none;"></div>
        </div>
        <div class="container">
            <div class="card" id="dateSelectorBox" style="width: auto;">
                <div class="card-body">
                    <h5 class="card-title">Time period <div class="dropdown ms-2" style="display: inline-block;">
                        <button class="btn btn-outline-info btn-sm dropdown-toggle" type="button" id="dateRangeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-calendar2-date-fill"></i> Quick range 
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dateRangeDropdown">
                            <li><a class="dropdown-item" href="#" id="quickRange7g">7 days</a></li>
                            <li><a class="dropdown-item" href="#" id="quickRange14g">14 days</a></li>
                            <li><a class="dropdown-item" href="#" id="quickRange1m">1 month</a></li>
                            <li><a class="dropdown-item" href="#" id="quickRange3m">3 months</a></li>
                            <li><a class="dropdown-item" href="#" id="quickRange6m">6 months</a></li>
                            <li><a class="dropdown-item" href="#" id="quickRange1y">1 year</a></li>
                            <li><a class="dropdown-item" href="#" id="quickRange2y">2 years</a></li>
                            <li><a class="dropdown-item" href="#" id="quickRange3y">3 years</a></li>
                            <li><a class="dropdown-item" href="#" id="quickRange4y">4 years</a></li>
                            <li><a class="dropdown-item" href="#" id="quickRange5y">5 years</a></li>
                            <li><a class="dropdown-item" href="#" id="quickRange10y">10 years</a></li>
                        </ul>
                    </div></h5>
                    <div class="card-text">
                        <div class="row justify-content-center">
                            <div class="col">
                                <label for="startDate">Start</label>
                                <input id="startDate" class="form-control" type="date" />
                            </div>
                            <div class="col">
                                <label for="endDate">End</label>
                                <input id="endDate" class="form-control" type="date" />
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary mt-2" id="applyDateRange">Apply</button>
                </div>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="filterOffcanvas" aria-labelledby="filterOffcanvasLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="filterOffcanvasLabel">Filters</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <ul class="nav nav-tabs nav-fill mt-3" id="tablesNav">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="earthquake" data-bs-toggle="tab" data-bs-target="#earthquakeTable" type="button" role="tab" href="#">Earthquake</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="grb" data-bs-toggle="tab" data-bs-target="#grbTable" type="button" role="tab" href="#">GRB</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="tgf" data-bs-toggle="tab" data-bs-target="#tgfTable" type="button" role="tab" href="#">TGF</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="swe" data-bs-toggle="tab" data-bs-target="#sweTable" type="button" role="tab" href="#">Space Weather Events</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="dst" data-bs-toggle="tab" data-bs-target="#dstTable" type="button" role="tab" href="#">Magnetic disturbances (Dst)</a>
                </li>
            </ul>
            <div class="tab-content" id="tables">
                <div class="tab-pane fade show active" id="earthquakeTable" role="tabpanel">
                    <div class="coolDIV" >
                        <table class="table table-striped table-hover table-bordered" style="overflow-y: auto;">
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="grbTable" role="tabpanel">
                    <div class="coolDIV">
                        <table class="table table-striped table-hover table-bordered" style="overflow-y: auto;">
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="tgfTable" role="tabpanel">
                    <div class="coolDIV">
                        <table class="table table-striped table-hover table-bordered" style="overflow-y: auto;">
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="sweTable" role="tabpanel">
                    <div class="coolDIV">
                        <table class="table table-striped table-hover table-bordered" style="overflow-y: auto;">
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="dstTable" role="tabpanel">
                    <div class="coolDIV">
                        <table class="table table-striped table-hover table-bordered" style="overflow-y: auto;">
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal preview-modal fade" tabindex="-1" id="catalogueModal">
            <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Catalogue</h5>
                        <button type="button" id="downloadPDF" class="btn btn-outline-info btn-sm" aria-label="Download the metadata guide in PDF format" style="margin-left: auto; margin-right: 0.5em;"><i class="bi bi-cloud-arrow-down-fill"></i> Download metadata guide</button>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin-left: 0 !important;"></button>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-tabs nav-fill" role="tablist" id="catalogueTabsNav">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="earthquake-tab" data-bs-toggle="tab" data-bs-target="#earthquake-tab-content" role="tab" href="#">Earthquake</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="grb-tab" data-bs-toggle="tab" data-bs-target="#grb-tab-content" role="tab" href="#">GRB</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="tgf-tab" data-bs-toggle="tab" data-bs-target="#tgf-tab-content" role="tab" href="#">TGF</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="swe-tab" data-bs-toggle="tab" data-bs-target="#swe-tab-content" role="tab" href="#">Space Weather Events</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="dst-tab" data-bs-toggle="tab" data-bs-target="#dst-tab-content" role="tab" href="#">Magnetic disturbances (Dst)</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="catalogueTabs">
                            <div class="tab-pane show active" id="earthquake-tab-content" role="tabpanel">
                                <h3 class="titleTab">Earthquake</h3>
                                <table class="table table-striped table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Column</th>
                                            <th>Meaning</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>trigger_time</td>
                                            <td>Time when the event occurred</td>
                                        </tr>
                                        <tr>
                                            <td>latitude</td>
                                            <td>Decimal degrees latitude</td>
                                        </tr>
                                        <tr>
                                            <td>longitude</td>
                                            <td>Decimal degrees longitude</td>
                                        </tr>
                                        <tr>
                                            <td>depth</td>
                                            <td>Depth of the event in kilometers</td>
                                        </tr>
                                        <tr>
                                            <td>magnitude</td>
                                            <td>The level of magnitude of the event</td>
                                        </tr>
                                        <tr>
                                            <td>magType</td>
                                            <td>Type of magnitude</td>
                                        </tr>
                                        <tr>
                                            <td>nst</td>
                                            <td>Number of stations used to determine the location</td>
                                        </tr>
                                        <tr>
                                            <td>gap</td>
                                            <td>Gap between azimuthally adjacent stations</td>
                                        </tr>
                                        <tr>
                                            <td>dmin</td>
                                            <td>Horizontal distance from the epicenter to the nearest station</td>
                                        </tr>
                                        <tr>
                                            <td>rms</td>
                                            <td>Root mean square travel time residual</td>
                                        </tr>
                                        <tr>
                                            <td>net</td>
                                            <td>Network that originally authored the event</td>
                                        </tr>
                                        <tr>
                                            <td>identifier</td>
                                            <td>Unique identifier for the event</td>
                                        </tr>
                                        <tr>
                                            <td>updated</td>
                                            <td>Time when the event was most recently updated</td>
                                        </tr>
                                        <tr>
                                            <td>place</td>
                                            <td>Textual description of named geographic region near to the event</td>
                                        </tr>
                                        <tr>
                                            <td>type</td>
                                            <td>Type of seismic event</td>
                                        </tr>
                                        <tr>
                                            <td>horizontal_err</td>
                                            <td>Uncertainty of reported location of the event in kilometers</td>
                                        </tr>
                                        <tr>
                                            <td>depth_err</td>
                                            <td>Uncertainty of reported depth of the event in kilometers</td>
                                        </tr>
                                        <tr>
                                            <td>magnitude_err</td>
                                            <td>Uncertainty of reported magnitude of the event</td>
                                        </tr>
                                        <tr>
                                            <td>magnst</td>
                                            <td>Number of stations reporting the magnitude</td>
                                        </tr>
                                        <tr>
                                            <td>status</td>
                                            <td>Status of the event</td>
                                        </tr>
                                        <tr>
                                            <td>locationSource</td>
                                            <td>Network that originally authored the event</td>
                                        </tr>
                                        <tr>
                                            <td>magSource</td>
                                            <td>Network that originally authored the magnitude</td>
                                        </tr>
                                        <tr>
                                            <td>sat_source</td>
                                            <td>Dataset where the data comes from</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h4>Sources</h4>
                                <ul>
                                    <li>USGS <a href="https://earthquake.usgs.gov/earthquakes/search/" data-bs-toggle="tooltip" data-bs-title="Open website"><i class="bi bi-globe-americas"></i></a></li>
                                </ul>
                            </div>
                            <div class="tab-pane" id="grb-tab-content" role="tabpanel">
                                <h3 class="titleTab">GRB</h3>
                                <table class="table table-striped table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Column</th>
                                            <th>Meaning</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>name</td>
                                            <td>The identifier or name of the astronomical event at our discretion</td>
                                        </tr>
                                        <tr>
                                            <td>trigger_time</td>
                                            <td>The time at which the event was first detected</td>
                                        </tr>
                                        <tr>
                                            <td>RA</td>
                                            <td>Right Ascension of the event in the sky</td>
                                        </tr>
                                        <tr>
                                            <td>DEC</td>
                                            <td>Declination of the event in the sky</td>
                                        </tr>
                                        <tr>
                                            <td>T90</td>
                                            <td>The time taken to acumulate 90% of the burst fluence starting at the 5% fluence level</td>
                                        </tr>
                                        <tr>
                                            <td>normalised_duration</td>
                                            <td>Aprroximate duration of the event's occurrence</td>
                                        </tr>
                                        <tr>
                                            <td>sat_source</td>
                                            <td>Dataset where the data comes from</td>
                                        </tr>
                                        <tr>
                                            <td>start_time_obs</td>
                                            <td>The start time of the observation period for the event</td>
                                        </tr>
                                        <tr>
                                            <td>end_time_obs</td>
                                            <td>The end time of the observation period for the event</td>
                                        </tr>
                                        <tr>
                                            <td>reliability</td>
                                            <td>Probability assigned to the classification of the trigger (100% is the most probable)</td>
                                        </tr>
                                        <tr>
                                            <td>geo_long</td>
                                            <td>The spacecraft's geographical east longitude in degrees</td>
                                        </tr>
                                        <tr>
                                            <td>geo_lat</td>
                                            <td>The spacecraft's geographical north latitude in degrees</td>
                                        </tr>
                                        <tr>
                                            <td>type</td>
                                            <td>The type or classification of the burst</td>
                                        </tr>
                                        <tr>
                                            <td>sigma</td>
                                            <td>A statistical measure of the detection's significance</td>
                                        </tr>
                                        <tr>
                                            <td>max_count</td>
                                            <td>The maximum count rate or intensity observed during the event</td>
                                        </tr>
                                        <tr>
                                            <td>BAT_RA</td>
                                            <td>The Right Ascension of the event detected by the Burst Alert Telescope (BAT J2000)</td>
                                        </tr>
                                        <tr>
                                            <td>BAT_DEC</td>
                                            <td>The Declination of the event detected by the Burst Alert Telescope (BAT J2000)</td>
                                        </tr>
                                        <tr>
                                            <td>BAT_T90</td>
                                            <td>The time interval (seconds) in which 90% of the Fluence was detected by Swift Burst Alert Telescope (BAT J2000)</td>
                                        </tr>
                                        <tr>
                                            <td>BAT_fluence</td>
                                            <td>The total fluence (energy per unit area) (\(10^{-7}\; erg/cm^2\)) of the event as measured by Burst Alert Telescope (BAT J2000)</td>
                                        </tr>
                                        <tr>
                                            <td>xrt_spectral_index</td>
                                            <td>Detection of the burst source obtained from an automated time-averaged spectral fit of the Photon Counting (PC)</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h4>Sources</h4>
                                <ul>
                                    <li>FERMI-GBM & FERMI-LAT <a target="_blank" href="https://heasarc.gsfc.nasa.gov/W3Browse/fermi/fermigtrig.html" data-bs-toggle="tooltip" data-bs-title="Open website"><i class="bi bi-globe-americas"></i></a></li>
                                    <li>Integral <a target="_blank" href="http://isdc.unige.ch/integral/science/grb#ACS" data-bs-toggle="tooltip" data-bs-title="Open website"><i class="bi bi-globe-americas"></i></a></li>
                                    <li>Swift <a target="_blank" href="https://swift.gsfc.nasa.gov/results/batgrbcat/" data-bs-toggle="tooltip" data-bs-title="Open website"><i class="bi bi-globe-americas"></i></a><a target="_blank" href="https://swift.gsfc.nasa.gov/archive/grb_table/"><i class="bi bi-globe-americas"></i></a></li>
                                    <li>Astrosat CZTI <a target="_blank" href="https://astrosat.iucaa.in/czti/grb" data-bs-toggle="tooltip" data-bs-title="Open website"><i class="bi bi-globe-americas"></i></a></li>
                                    <li>Konos-Wind <a target="_blank" href="https://gcn.gsfc.nasa.gov/konus_grbs.html" data-bs-toggle="tooltip" data-bs-title="Open website"><i class="bi bi-globe-americas"></i></a></li>
                                </ul>
                            </div>
                            <div class="tab-pane" id="tgf-tab-content" role="tabpanel">
                                <h3 class="titleTab">TGF</h3>
                                <table class="table table-striped table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Column</th>
                                            <th>Meaning</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>ID</td>
                                            <td>Unique identifier for the record</td>
                                        </tr>
                                        <tr>
                                            <td>GEO_long</td>
                                            <td>The spacecraft's geographical north latitude, in degrees</td>
                                        </tr>
                                        <tr>
                                            <td>GEO_lat</td>
                                            <td>The spacecraft's geographical east longitude, in degrees</td>
                                        </tr>
                                        <tr>
                                            <td>orbit</td>
                                            <td>Satellite's Orbit number</td>
                                        </tr>
                                        <tr>
                                            <td>trigger_time</td>
                                            <td>The time at which the trigger occurred</td>
                                        </tr>
                                        <tr>
                                            <td>T50</td>
                                            <td>Median duration of the event in milliseconds</td>
                                        </tr>
                                        <tr>
                                            <td>T50_err</td>
                                            <td>Error in the median duration in milliseconds</td>
                                        </tr>
                                        <tr>
                                            <td>T50_err_applied</td>
                                            <td>Median duration of the event and its error in milliseconds</td>
                                        </tr>
                                        <tr>
                                            <td>sat_altitude</td>
                                            <td>Satellite altitude at trigger time</td>
                                        </tr>
                                        <tr>
                                            <td>ML_counts</td>
                                            <td>TGF number of counts</td>
                                        </tr>
                                        <tr>
                                            <td>ML_counts_err</td>
                                            <td>Error in TGF number counts</td>
                                        </tr>
                                        <tr>
                                            <td>ML_counts_err_applied</td>
                                            <td>TGF number of counts and its error</td>
                                        </tr>
                                        <tr>
                                            <td>TGF_name</td>
                                            <td>Name of the Terrestrial Gamma-ray Flash event at our discretion</td>
                                        </tr>
                                        <tr>
                                            <td>event_type</td>
                                            <td>Type of the event:
                                                <ul>
                                                    <li>0 = single pulse</li>
                                                    <li>1 = candidate multipulse (MP) event</li>
                                                    <li>2 = first pulse of MP event</li>
                                                    <li>3 = following pulse(s) of MP event</li>
                                                    <li>4 = Terrestrial Electron Beam (TEB)</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>normalised_duration</td>
                                            <td>Duration of the event normalised</td>
                                        </tr>
                                        <tr>
                                            <td>RA</td>
                                            <td>Right Ascension</td>
                                        </tr>
                                        <tr>
                                            <td>DEC</td>
                                            <td>Declination</td>
                                        </tr>
                                        <tr>
                                            <td>start_time_obs</td>
                                            <td>Observation start time</td>
                                        </tr>
                                        <tr>
                                            <td>end_time_obs</td>
                                            <td>Observation end time</td>
                                        </tr>
                                        <tr>
                                            <td>reliability</td>
                                            <td>Reliability of the data</td>
                                        </tr>
                                        <tr>
                                            <td>sat_source</td>
                                            <td>Source of the satellite data</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h4>Sources</h4>
                                <ul>
                                    <li>FERMI-GBM & FERMI-LAT <a target="_blank" href="https://heasarc.gsfc.nasa.gov/W3Browse/fermi/fermigtrig.html" data-bs-toggle="tooltip" data-bs-title="Open website"><i class="bi bi-globe-americas"></i></a></li>
                                    <li>Agile <a target="_blank" href="https://www.ssdc.asi.it/mcal3tgfcat/" data-bs-toggle="tooltip" data-bs-title="Open website"><i class="bi bi-globe-americas"></i></a></li>
                                </ul>
                            </div>
                            <div class="tab-pane" id="swe-tab-content" role="tabpanel">
                                <h3 class="titleTab">Space Weather Events</h3>
                                <table class="table table-striped table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Column</th>
                                            <th>Meaning</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>top</td>
                                            <td>Number in the top 50 events of the specific year</td>
                                        </tr>
                                        <tr>
                                            <td>flux</td>
                                            <td>The rate of flow of a physical quantity through a reference surface</td>
                                        </tr>
                                        <tr>
                                            <td>region</td>
                                            <td>Number assigned to a plage or sunspot region</td>
                                        </tr>
                                        <tr>
                                            <td>time_start_obs</td>
                                            <td>Start time of the event's observation</td>
                                        </tr>
                                        <tr>
                                            <td>trigger_time</td>
                                            <td>Time in which the event was triggered</td>
                                        </tr>
                                        <tr>
                                            <td>time_end_obs</td>
                                            <td>End time of the event's observation</td>
                                        <tr>
                                            <td>sat_source</td>
                                            <td>Dataset where the data comes from</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h4>Sources</h4>
                                <ul>
                                    <li>SpaceWeatherLive <a target="_blank" href="https://www.spaceweatherlive.com/en/solar-activity/top-50-solar-flares.html" data-bs-toggle="tooltip" data-bs-title="Open website"><i class="bi bi-globe-americas"></i></a></li>
                                </ul>
                            </div>
                            <div class="tab-pane" id="dst-tab-content" role="tabpanel">
                                <h3 class="titleTab">Magnetic disturbances (Dst)</h3>
                                <table class="table table-striped table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Column</th>
                                            <th>Meaning</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>trigger_time</td>
                                            <td>Time when the event occurred</td>
                                        </tr>
                                        <tr>
                                            <td>field_magnitude_average</td>
                                            <td>Average magnitude of the magnetic field in nanoteslas</td>
                                        </tr>
                                        <tr>
                                            <td>speed</td>
                                            <td>Speed of the magnetic disturbance in kilometers per second</td>
                                        </tr>
                                        <tr>
                                            <td>source</td>
                                            <td>Dataset where the data comes from</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h4>Sources</h4>
                                <ul>
                                    <li>OmniWeb (NASA) <a target="_blank" href="https://omniweb.gsfc.nasa.gov/" data-bs-toggle="tooltip" data-bs-title="Open website"><i class="bi bi-globe-americas"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal preview-modal fade" tabindex="-1" id="contactsModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Meet our team! <i class="bi bi-emoji-smile-fill"></i></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="{% static 'coolphotoofus.png' %}" class="img-fluid rounded mx-auto d-block" alt="A cool photo of our team"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal preview-modal fade" tabindex="-1" id="graphsModal">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">View Graphs</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-tabs nav-fill" role="tablist" id="graphsTabsNav">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="earthquake-tab" data-bs-toggle="tab" data-bs-target="#earthquake-graph-content" role="tab" href="#">Earthquake</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="grb-tab" data-bs-toggle="tab" data-bs-target="#grb-graph-content" role="tab" href="#">GRB</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="any-tab" data-bs-toggle="tab" data-bs-target="#any-graph-content" role="tab" href="#">Any</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="graphTabs">
                            <div class="tab-pane show active" id="earthquake-graph-content" role="tabpanel">
                                <canvas id="earthquakeChart"></canvas>
                            </div>
                            <div class="tab-pane" id="grb-graph-content" role="tabpanel">
                                <div id="grbChart" class="img-fluid"></div>
                            </div>
                            <div class="tab-pane" id="any-graph-content" role="tabpanel">
                                <canvas id="anyChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="loadingModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="spinner-grow text-warning text-primary" role="status" style="margin-top: 1em; width: 3em; height: 3em;">
                            <span class="visually-hidden">Loading data</span>
                        </div>
                        <p>Please wait while we load the data...</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
